<div id="<%= dom_id course_category %>">
  <p>
    <strong>Name:</strong>
    <%= course_category.name %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= course_category.note %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= course_category.created_by %>
  </p>

  <p>
    <strong>Created by name:</strong>
    <%= course_category.created_by_name %>
  </p>

  <p>
    <strong>Updated by:</strong>
    <%= course_category.updated_by %>
  </p>

  <p>
    <strong>Updated by name:</strong>
    <%= course_category.updated_by_name %>
  </p>

</div>
