<p style="color: green"><%= notice %></p>

<%= render @course_category %>

<div>
  <%= link_to "Edit this course category", edit_course_category_path(@course_category) %> |
  <%= link_to "Back to course categories", course_categories_path %>

  <%= button_to "Destroy this course category", @course_category, method: :delete %>
</div>
