<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Rails Online Course" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= render "/layouts/partials/javascripti_imports" %>
  </head>
  <body class="boxed-size">
    <% unless @no_sidebar %>
      <%= render "/layouts/partials/sidebar" %>
    <% end %>
    <div class="container-fluid">
      <div class="main-content d-flex flex-column">
        <% unless @no_navbar %>
          <%= render "/layouts/partials/navbar" %>
        <% end %>
        <%= yield %>
        <div class="flex-grow-1"></div>
        <% unless @no_footer %>
          <%= render "/layouts/partials/footer" %>
        <% end %>
        <% unless @no_create_task %>
          <%= render "/layouts/partials/create_task" %>
        <% end %>
        <% unless @no_settings %>
          <%= render "/layouts/partials/settings" %>
        <% end %>
      </div>
    </div>
  </body>
</html>
